@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

/* Prevent text selection during drag */
.dragging * {
  user-select: none;
}

/* Hide scrollbars while keeping scroll behaviour */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
